/* Import the Inter font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Root style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* slide show container */
.slide-show-container {
    /*    border: 2px solid red;*/
max-width: 1000px;
    width: 100%;
    position: relative;
    margin: auto;
}

.slide-show {
/*    display: none;*/
}

.slider-img {
    width: 100%;
    height: 50%;
}

.slider-text {
    position: absolute;
    left: 50%;
    background: #252525;
    padding: 10px 15px;
    color: white;
    border-radius: 4px;
    font-weight: 550;
    font-size: 14px;
    outline: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.arrows {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: white;
    margin: 10px;

}

.next {
    right: 0;
}

/*fade animation from w3school*/

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}