/*css Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source code pro', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.mobile-header {
    /*    border: 2px solid yellow;*/
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
    background: white;
    display: flex;
    width: 100vw;
}

.mobile-header-1 {
    /*    border: 2px solid green;*/
    flex: 1;
    width: 30vw;
    align-content: center;
}

.mobile-header-2 {
    /*    border: 2px solid blue;*/
    width: 70vw;
}


.sidebar {
    /* border: 2px solid red;*/
    display: none; /* Hidden by default*/
    width: 80vw;
    height: 100vh;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

.links {
    /*    border: 2px solid green;*/
    width: 75vw;
    padding: 10px 15px;
    margin: 5px;
    background: #f2f2f2;
    border-radius: 4px;
}